# Cache and summary directories

CEHRT_CACHE_DIR=../npd_slurp_cehrt_clientfhir_cache/cache/fhir_json_cache/

# Input data files
LANTERN_CSV_INPUT=local_data/lantern_csv/fhir_endpoints.csv
LIST_SOURCES_SUMMARY=../npd_slurp_cehrt_clientfhir_cache/list_sources_summary.csv

# Service JSON directory
SERVICE_JSON_DIR=../npd_slurp_cehrt_clientfhir_cache/cache/fhir_json_cache/

# Download delay (seconds)
DOWNLOAD_DELAY=1.0

# Output data directories and files
OUTPUT_DATA_DIR=data/output_data
NORMALIZED_CSV_DIR=../npd_slurp_cehrt_clientfhir_cache/cache/summary_data/
ORG_TO_NPI_RAW=../npd_slurp_cehrt_clientfhir_cache/cache/summary_data/step40_org_to_npi.csv
CLEAN_NPI_TO_ORG_FHIR_URL=../npd_slurp_cehrt_clientfhir_cache/cache/summary_data/step50_clean_npi_to_org_fhir_url.csv
ENRICHED_ENDPOINTS=../npd_slurp_cehrt_clientfhir_cache/cache/summary_data/step60_enriched_endpoints.csv

# Final reports
CEHRT_FHIR_REPORT_CSV=../npd_slurp_cehrt_clientfhir_cache/cache/summary_data/step89_CEHRT_FHIR_Report.csv
CEHRT_FHIR_REPORT_MD=../npd_slurp_cehrt_clientfhir_cache/cache/summary_data/step90_CEHRT_FHIR_Report.md

# Test files
TEST_PIPELINE=test_pipeline.py

# Log Dir
ERROR_LOG_DIR=../npd_slurp_cehrt_clientfhir_cache/log/

# API Configuration
NPI_REGISTRY_BASE_URL="https://npiregistry.cms.hhs.gov/api/"
